* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-size: cover;
  font-family: sans-serif;
  margin-top: 80px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.title {
  margin-bottom: 20px;
}

.title-h4 {
  margin-bottom: 10px;
}

.main__text {
  padding-bottom: 15px;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  font-size: 16px;
}


/* NAVBAR */

header {
  position: fixed;
  top: 0;
  left: 144px;
  right: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

header * {
  display: inline-block;
}

header li {
  margin: 15px;
}

header li a {
  color: black;
  text-decoration: none;
}

.nav__btn-left {
  background-color: white;
  border-width: 1px;
  color: black;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}
.nav__btn-right {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

.nav__right {
  padding-left: 30px;
}

/* HEADER SECTION */

.main__btn {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

/* CARD-SECTION */

.card__title {
  display: flex;
  max-width: 400px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container__card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  max-width: 270px;
  border-radius: 10px;
}

.card__button {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left__container {
  width: 400px;
  height: 500px;
  margin-right: 50px;
}

/* SECOND SECTION BLUE T-SHIRT */

.orangedot__container {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
}

.left__container-bluetshirt {
  width: 400px;
  height: 500px;
  margin-left: 50px;
}
.orange__text {
  padding-left: 15px;
}

.main__text-blue {
  padding-left: 20px;
}

/* FOOTER */

.border {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: black;
}

.ft-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ft-main-item {
  padding: 10px;
  min-width: 200px;
}

.ft__btn {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}

#fname {
  width: 300px;
  height: 20px;
}

